# Environment Variables
.vscode/*
.vscode
.env

# Python
__pycache__
*.pyc
.DS_Store

# Data and images
*.png
*.csv

# Personal scripts
test.py
setup.sh

#Neural Network Prediction
nn_prediction/models/*
